{{ template "header.html" .}}

<h1>Create Article</h1>

<div class="panel panel-default col-sm-12">
  <div class="panel-body">
    {{ if .ErrorTitle }}
      <p class="bg-danger">
        {{ .ErrorTitle }}: {{ .ErrorMessage }}
      </p>
    {{ end }}
    <form action="/article/create" class="form" method="post">
      <div class="form-group">
        <label for="title">Username</label>
        <input type="text" class="form-control" id="title" name="title" placeholder="Title">
      </div>
      <div class="form-group">
        <label for="content">Content</label>
        <textarea rows="10" class="form-control" id="content" name="content" placeholder="Article Content"></textarea>
      </div>
      <button type="submit" class="btn btn-primary" name="button">Submit</button>
    </form>
  </div>
</div>

{{ template "footer.html" .}}
